.navbar {
     background: #343A40;
    
    display: flex;
    // height: 2rem;
    margin-bottom: 3rem;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 10px;
    // &__logo {
    //     font-size: 1.75rem;
    // }
    &__links {
        font-size: 1.5rem;
        // margin-left: 90rem;
    }
    &__link {
        margin: 0 1rem;
        text-decoration: none;
        transition: all .3s ease;
        color: #ffffff;
        &.active{
            color: rgba(255, 255, 255, 0.5);
        }
&:focus{
    color: #ffffff;

}
        &:hover {
            color: rgba(255, 255, 255, 0.5);        
        }
                   
}
}