.form__profile-input{
    display:flex;
    position: absolute;
width: 400px;
height: 30px;
border: 2px solid #CCCCCC;
box-sizing: border-box;
border-radius: 6px;
margin: 1rem;
background-color: #15202B;
}
.form__profile-btn{
    position: absolute;
    width: 41px;
    height: 25px;
    left: 380px;
    top: 227px;
    border:none;
    background: #007BFF;
    border-radius: 4px;
    color: #ffffff;
}
.form__profile-btn{
    cursor: pointer;
}
h1,.username{
    margin :1rem
}
.username{
    font-size: 18px;
}
h1{
    font-size: 36px;
}