
      
  .tweets {
font-size: 12px;
    margin: auto;
    margin-top: 3rem;
      .tweet {
       
        margin: auto;
        margin-top: 3rem;
        width: 600px;
        height: 100px;
        background: #343A40;
        border-radius: 6px;
        
        
       
    }
    
    .tweet__container-top--name{
      display: inline-block;
      margin-left: 1rem;
    
    }
    img{
      height: 6rem;
      border-radius: 10rem;
      margin-left: 1rem;
    }
    .tweet__container-top--date{
      display: flex;
      margin-left: 37rem;
       }
  .tweet__container-bottom--text{
    margin-left: 8rem;
    margin-top: -4.3rem;
    display:flex;
    font-size: medium;
  font-weight: bold;
  font-style: italic;
   
  }
  
  
}
.loader{
  margin-top: 1%;
  font-size: 2rem;
  display: flex;
  width: 100vw;
 justify-content: center;
}
 

